.App {
  background: #ffffff;
  user-select: none;
}
.extension-content {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  gap: 33px;
  position: relative;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 31px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  align-self: stretch;
  gap: 34px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  order: 1;
  align-items: center;
}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  letter-spacing: 0.04em;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.submenu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
